@font-face {
    font-family: karla;
    src: url(../fonts/Karla-VariableFont_wght.ttf);
}
:root{
    --textcolor:#323A45;
    --imgbg: #848484;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.hamburger{
    display:none;
}
a{
    text-decoration: none; 
    color: var(--textcolor);
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: -1px;
}
.bigarticle a, .miniarticles a{
    background-color: #F4F4F4;
}

a:hover{
    filter:opacity(0.6);
    color: var(--imgbg);
    transition: ease 0.3s;
}
html{
    font-size: 62.5%;
    font-family: karla;
    padding: 30px 120px;

}
img{
    max-width: 100%;
}
main{
    margin-bottom: 5rem;
}
h1{
    font-weight: 800;
}
h2, .pricetag{
    font-size: 2.8rem;
    margin-bottom: 1rem;
    font-weight: 900;
}
h4, .newsletterbox p{
    font-size: 1.8rem;
    margin-bottom: 4rem;
    font-weight: 700;
}
h3{
    font-size: 1.8rem;
    color: var(--imgbg);
}
.navlogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}
nav{
    display: flex;
    justify-content: space-between;
    gap:4rem;
}

.bigpic:hover,.minipic:hover{
    background-color: #F7F7F7;
    transition: ease 0.3s;
}
.newsletterbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    background-color:#F7F7F7;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
input{
    border: 1px #848484 solid;
    padding: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
input[type=submit]{
    border-radius: 5px;
    background-color: #323A45;
    color: white;
    font-weight: 700;
    font-size:2rem;
    letter-spacing: 0.4rem;
}
input[type=submit]:hover{
    border-radius: 5px;
    background-color: #848484;
    transition: ease 0.4s;
}


footer{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap:3rem;
    align-items: start;
    line-height: 3.5rem;
}
footer section{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
footer p{
    font-size: 1.8rem;
}
.italicdontworry{
    font-style: italic;
}
.copyright{
    font-size: 1.5rem;
    color: var(--imgbg);
    justify-self: flex-start;
    grid-column: 1/-1;
}
footer span{
    font-weight: 900;
}
.txt p:first-of-type{
    margin-bottom: 20rem;
}
.copyright span{
    padding:0 1rem;
    font-size: 1.5rem;
}

@media screen and (max-width: 600px){
    html{
        padding:3rem;
    }
    .miniarticles{
        display:block;
        margin-bottom: 8rem;
    }
    footer{
        display:block;
    }
    footer section{
        flex-direction: column;
        margin-bottom: 8rem;
    }
    .articlegrid{
        margin-bottom: 40px;

    }
    .txt p:first-of-type{
        margin-bottom: 1px;
        padding-right: 180px;
    }
    nav a{
        display:none;
    }
    nav .hamburger{
        display: block;
    }
    nav .hamburger div{
        background: black; width: 25px; height: 4px;  
        margin-left: auto; margin-right: auto;
        margin:0.3rem;
        border-radius: 4px;
    }
    header{
        margin-top: 20px;
    }
    .bigarticle{
        margin-top: 0;
    }
}